@charset "UTF-8";
/* CSS Document */


.imgFull {
	position: relative;
	top: 80px;
	right: 400px;
	z-index: 1;
	
}
.imgFull img{
	width: 300%;
	height: auto;
	max-width: 740px;
}
.post-4 .wrapper {
	background: url(https://e-noch.github.io/compiled/images/armin-hofmann-poster.jpg) center/cover no-repeat;
}
