@charset "UTF-8";
/* CSS Document */
.drop-back {
	margin: 0 auto;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 80%;
	background: url('../images/map.PNG') no-repeat;
	opacity: 0.5;
}

.rodeo-background {
	
}

.port-8 {

}
.port-8 img {
	width: 100%;
	border-radius: 20px;
}

.app-truck {
	width: 100px;
	height: auto;
	padding: 20px 0 0 0;
}
